<!-- This is where you make a new sheet -->
{% extends 'base.html' %}

{% block content %}
<h1>Create a Character Sheet!</h1>

<form action="/home" method="POST">
    <a class="LISUbutton" href="/home">Home (Content Will Be Lost)</a>
    <button class="LISUbutton">Click Here to Upload!</button>
    <audio class="music" src="{{ url_for('static', filename='../static/long.mp3') }}" controls autoplay></audio>
    <section class="sheetcontainer">
        <section class="basicinfo">
            <h3>Character Info</h3>

            <label for="">Character Name:</label>
            <input type="text" name="character_name">

            <label for="">Class and Level:</label>
            <input type="text" name="class_and_level">

            <label for="">Background:</label>
            <input type="text" name="background">

            <label for="">Player Name:</label>
            <input type="text" name="player_name">

            <label for="">Race:</label>
            <input type="text" name="race">

            <label for="">Alignment:</label>
            <input type="text" name="alignment">

            <label for="">Experience Points:</label>
            <input type="text" name="experience_points">

        </section>

        <section class="mainstats">
            <h3>Stats</h3>

            <label for="">Strength:</label>
            <input type="number" name="stat_str">

            <label for="">Dexterity:</label>
            <input type="number" name="stat_dex">

            <label for="">Constitution:</label>
            <input type="number" name="stat_con">

            <label for="">Intelligence:</label>
            <input type="number" name="stat_int">

            <label for="">Wisdom:</label>
            <input type="number" name="stat_wis">

            <label for="">Charisma:</label>
            <input type="number" name="stat_cha">

            <label for="">Passive Perception:</label>
            <input type="number" name="passive_perception">

        </section>

        <section class="savingthrows">
            <h3>Saving Throws</h3>

            <label for="">Strength Saving Throw:</label>
            <input type="number" name="svgthrow_stat_str">

            <label for="">Dexterity Saving Throw:</label>
            <input type="number" name="svgthrow_stat_dex">

            <label for="">Constitution Saving Throw:</label>
            <input type="number" name="svgthrow_stat_con">

            <label for="">Intelligence Saving Throw:</label>
            <input type="number" name="svgthrow_stat_int">

            <label for="">Wisdom Saving Throw:</label>
            <input type="number" name="svgthrow_stat_wis">

            <label for="">Charisma Saving Throw:</label>
            <input type="number" name="svgthrow_stat_cha">

        </section>

        <section class="skills">
            <h3>Skills</h3>

            <label for="">Proficiency Bonus:</label>
            <input type="number" name="prof_bonus">

            <label for="">Acrobatics:</label>
            <input type="number" name="sk_acroba">

            <label for="">Animal Handling:</label>
            <input type="number" name="sk_animal">

            <label for="">Arcana:</label>
            <input type="number" name="sk_arcana">

            <label for="">Athletics:</label>
            <input type="number" name="sk_athlet">

            <label for="">Deception:</label>
            <input type="number" name="sk_decept">

            <label for="">History:</label>
            <input type="number" name="sk_histor">

            <label for="">Insight:</label>
            <input type="number" name="sk_insigh">

            <label for="">Intimidation:</label>
            <input type="number" name="sk_intimi">

            <label for="">Investigation:</label>
            <input type="number" name="sk_invest">

            <label for="">Medicine:</label>
            <input type="number" name="sk_medici">

            <label for="">Nature:</label>
            <input type="number" name="sk_nature">

            <label for="">Perception:</label>
            <input type="number" name="sk_percep">

            <label for="">Performance:</label>
            <input type="number" name="sk_perfor">

            <label for="">Persuasion:</label>
            <input type="number" name="sk_persua">

            <label for="">Religion:</label>
            <input type="number" name="sk_religi">

            <label for="">Sleight of Hand:</label>
            <input type="number" name="sk_sleigh">

            <label for="">Stealth:</label>
            <input type="number" name="sk_stealt">

            <label for="">Survival:</label>
            <input type="number" name="sk_suviva">

            <label for="">Other Proficiencies and Languages:</label>
            <textarea name="otr_prof_lang"></textarea>

        </section>

        <section class="vitalinfo">
            <h3>Vital Info</h3>

            <label for="">Armor Class:</label>
            <input type="number" name="armor">

            <label for="">Initiative:</label>
            <input type="number" name="initiative">

            <label for="">Speed:</label>
            <input type="number" name="speed">

            <label for="">Current HP:</label>
            <input type="number" name="current_hp">

            <label for="">Temporary HP:</label>
            <input type="number" name="temp_hp">

            <label for="">Hit Dice:</label>
            <input type="text" name="hit_dice">

            <label for="">Death Save Successes:</label>
            <input type="number" name="dthsv_pass">

            <label for="">Death Save Failures:</label>
            <input type="number" name="dthsv_fail">

        </section>

        <section class="equipmentfluff">
            <h3>Equipment and Basic Info</h3>
            <label for="">Weapons and Spells:</label>
            <textarea name="attacks_spells"></textarea>

            <label for="">Equipment:</label>
            <textarea name="equipment"></textarea>

            <label for="">Traits:</label>
            <textarea name="traits"></textarea>

            <label for="">Ideals:</label>
            <textarea name="ideals"></textarea>

            <label for="">Bonds:</label>
            <textarea name="bonds"></textarea>

            <label for="">Flaws:</label>
            <textarea name="flaws"></textarea>

            <label for="">Features and Traits:</label>
            <textarea name="fluff"></textarea>
        </section>

        <section class="spellsheet">
            <h3>Spell Sheet</h3>

            <label for="">Spellcasting Class:</label>
            <input type="text" name="spellcasting_class">

            <label for="">Spellcasting Ability:</label>
            <input type="text" name="spellcasting_ability">

            <label for="">Spell Save DC:</label>
            <input type="number" name="spell_save_dc">

            <label for="">Spell Attack Bonus:</label>
            <input type="number" name="spell_atk_bonus">

            <label for="">Cantrips:</label>
            <textarea name="cantrips"></textarea>

            <label for="">First Level Spells:</label>
            <textarea name="first_level_spells"></textarea>

            <label for="">Second Level Spells:</label>
            <textarea name="second_level_spells"></textarea>

            <label for="">Third Level Spells:</label>
            <textarea name="third_level_spells"></textarea>

            <label for="">Fourth Level Spells:</label>
            <textarea name="fourth_level_spells"></textarea>

            <label for="">Fifth Level Spells:</label>
            <textarea name="fifth_level_spells"></textarea>

            <label for="">Sixth Level Spells:</label>
            <textarea name="sixth_level_spells"></textarea>

            <label for="">Seventh Level Spells:</label>
            <textarea name="seventh_level_spells"></textarea>

            <label for="">Eighth Level Spells:</label>
            <textarea name="eighth_level_spells"></textarea>

            <label for="">Ninth Level Spells:</label>
            <textarea name="ninth_level_spells"></textarea>

        </section>

        <section class="biosheet">
            <h3>Character Bio</h3>

            <label for="">Age</label>
            <input type="text" name="age">

            <label for="">Height:</label>
            <input type="text" name="height">

            <label for="">Weight:</label>
            <input type="text" name="character_weight">

            <label for="">Eyes:</label>
            <input type="text" name="eyes">

            <label for="">Skin:</label>
            <input type="text" name="skin">

            <label for="">Hair:</label>
            <input type="text" name="hair">

            <label for="">Appearnce:</label>
            <textarea name="appearance"></textarea>

            <label for="">Allies and Organisations:</label>
            <textarea name="allies_organisations"></textarea>

            <label for="">Character Backstory:</label>
            <textarea name="character_backstory"></textarea>

            <label for="">Additional Features and Traits:</label>
            <textarea name="additional_features_traits"></textarea>

            <label for="">Treasure:</label>
            <textarea name="treasure"></textarea>

        </section>


    </section>

</form>
{% endblock %}