<!-- This is where you make a new sheet -->
{% extends 'base.html' %}

{% block content %}
<h1>Create a Character Sheet!</h1>
<form action="/create" method="POST">
    <section class="basicinfo">

        <label for="">Character Name:</label>
        <input type="text" name="character_name">

        <label for="">Class and Level:</label>
        <input type="text" name="class_and_level">

        <label for="">Background:</label>
        <input type="text" name="background">

        <label for="">Player Name:</label>
        <input type="text" name="player_name">

        <label for="">Race:</label>
        <input type="text" name="race">

        <label for="">Alignment:</label>
        <input type="text" name="alignment">

        <label for="">Experience Points:</label>
        <input type="text" name="experience_points">

    </section>

    <section class="mainstats">

        <label for="">Strength:</label>
        <input type="text" name="stat_str">

        <label for="">Dexterity:</label>
        <input type="text" name="stat_dex">

        <label for="">Constitution:</label>
        <input type="text" name="stat_con">

        <label for="">Intelligence:</label>
        <input type="text" name="stat_int">

        <label for="">Wisdom:</label>
        <input type="text" name="stat_wis">

        <label for="">Charisma:</label>
        <input type="text" name="stat_cha">

        <label for="">Passive Perception:</label>
        <input type="text" name="passive_perception">

    </section>

    <section class="savingthrows">

        <label for="">Strength Saving Throw:</label>
        <input type="text" name="svgthrow_stat_str">

        <label for="">Dexterity Saving Throw:</label>
        <input type="text" name="svgthrow_stat_dex">

        <label for="">Constitution Saving Throw:</label>
        <input type="text" name="svgthrow_stat_con">

        <label for="">Intelligence Saving Throw:</label>
        <input type="text" name="svgthrow_stat_int">

        <label for="">Wisdom Saving Throw:</label>
        <input type="text" name="svgthrow_stat_wis">

        <label for="">Charisma Saving Throw:</label>
        <input type="text" name="svgthrow_stat_cha">

    </section>

    <section class="skills">

        <label for="">Acrobatics:</label>
        <input type="text" name="sk_acroba">

        <label for="">Animal Handling:</label>
        <input type="text" name="sk_animal">

        <label for="">Arcana:</label>
        <input type="text" name="sk_arcana">

        <label for="">Athletics:</label>
        <input type="text" name="sk_athlet">

        <label for="">Deception:</label>
        <input type="text" name="sk_decept">

        <label for="">History:</label>
        <input type="text" name="sk_histor">

        <label for="">Insight:</label>
        <input type="text" name="sk_insigh">

        <label for="">Intimidation:</label>
        <input type="text" name="sk_intimi">

        <label for="">Investigation:</label>
        <input type="text" name="sk_invest">

        <label for="">Medicine:</label>
        <input type="text" name="sk_medici">

        <label for="">Nature:</label>
        <input type="text" name="sk_nature">

        <label for="">Perception:</label>
        <input type="text" name="sk_percep">

        <label for="">Performance:</label>
        <input type="text" name="sk_perfor">

        <label for="">Persuasion:</label>
        <input type="text" name="sk_persua">

        <label for="">Religion:</label>
        <input type="text" name="sk_religi">

        <label for="">Sleight of Hand:</label>
        <input type="text" name="sk_sleigh">

        <label for="">Stealth:</label>
        <input type="text" name="sk_stealt">

        <label for="">Survival:</label>

        <input type="text" name="sk_suviva">

        <label for="">Other Proficiencies and Languages:</label>
        <input type="text" name="otr_prof_lang">

    </section>

    <section class="vitalinfo">

        <label for="">Armor Class:</label>
        <input type="text" name="armor">

        <label for="">Initiative:</label>
        <input type="text" name="initiative">

        <label for="">Speed:</label>
        <input type="text" name="speed">

        <label for="">Current HP:</label>
        <input type="text" name="current_hp">

        <label for="">Temporary HP:</label>
        <input type="text" name="temp_hp">

        <label for="">Hit Dice:</label>
        <input type="text" name="hit_dice">

        <label for="">Death Save Successes:</label>
        <input type="text" name="dthsv_pass">

        <label for="">Death Save Failures:</label>
        <input type="text" name="dthsv_fail">

    </section>

    <section class="equipmentfluff">
        <label for="">Weapons and Spells:</label>
        <input type="text" name="attacks_spells">

        <label for="">Equipment:</label>
        <input type="text" name="equipment">

        <label for="">Traits:</label>
        <input type="text" name="traits">

        <label for="">Ideals:</label>
        <input type="text" name="ideals">

        <label for="">Bonds:</label>
        <input type="text" name="bonds">

        <label for="">Flaws:</label>
        <input type="text" name="flaws">

        <label for="">Features and Traits:</label>
        <input type="text" name="fluff">
    </section>

    <button>Click Here to Upload!</button>

</form>
{% endblock %}