<!-- This is where you edit an exsisting sheet -->
{% extends 'base.html' %}

{% block content %}
<a href="/home">Home (Changes Will Be Lost)</a>
<h1>Edit Sheet</h1>
<form action="/home/{{ sheet['id'] }}" method="POST">
    <section class="sheetcontainer">
        <section class="basicinfo">
            <h3 class="sheetheader">Character Info</h3>

            <label for="">Character Name:</label>
            <input type="text" name="character_name" value="{{sheet['character_name'] }}">

            <label for="">Class and Level:</label>
            <input type="text" name="class_and_level" value="{{sheet['class_and_level'] }}">

            <label for="">Background:</label>
            <input type="text" name="background" value="{{ sheet['background'] }}">

            <label for="">Player Name:</label>
            <input type="text" name="player_name" value="{{ sheet['player_name'] }}">

            <label for="">Race:</label>
            <input type="text" name="race" value="{{ sheet['race'] }}">

            <label for="">Alignment:</label>
            <input type="text" name="alignment" value="{{ sheet['alignment'] }}">

            <label for="">Experience Points:</label>
            <input type="text" name="experience_points" value="{{ sheet['experience_points'] }}">

        </section>

        <section class="mainstats">
            <h3 class="sheetheader">Stats</h3>

            <label for="">Strength:</label>
            <input type="number" name="stat_str" value="{{ sheet['stat_str'] }}">

            <label for="">Dexterity:</label>
            <input type="number" name="stat_dex" value="{{ sheet['stat_dex'] }}">

            <label for="">Constitution:</label>
            <input type="number" name="stat_con" value="{{ sheet['stat_con'] }}">

            <label for="">Intelligence:</label>
            <input type="number" name="stat_int" value="{{ sheet['stat_int'] }}">

            <label for="">Wisdom:</label>
            <input type="number" name="stat_wis" value="{{ sheet['stat_wis'] }}">

            <label for="">Charisma:</label>
            <input type="number" name="stat_cha" value="{{ sheet['stat_cha'] }}">

            <label for="">Passive Perception:</label>
            <input type="number" name="passive_perception" value="{{ sheet['passive_perception'] }}">

        </section>

        <section class="savingthrows">
            <h3 class="sheetheader">Saving Throws</h3>

            <label for="">Strength Saving Throw:</label>
            <input type="number" name="svgthrow_stat_str" value="{{ sheet['svgthrow_stat_str'] }}">

            <label for="">Dexterity Saving Throw:</label>
            <input type="number" name="svgthrow_stat_dex" value="{{ sheet['svgthrow_stat_dex'] }}">

            <label for="">Constitution Saving Throw:</label>
            <input type="number" name="svgthrow_stat_con" value="{{ sheet['svgthrow_stat_con'] }}">

            <label for="">Intelligence Saving Throw:</label>
            <input type="number" name="svgthrow_stat_int" value="{{ sheet['svgthrow_stat_int'] }}">

            <label for="">Wisdom Saving Throw:</label>
            <input type="number" name="svgthrow_stat_wis" value="{{ sheet['svgthrow_stat_wis'] }}">

            <label for="">Charisma Saving Throw:</label>
            <input type="number" name="svgthrow_stat_cha" value="{{ sheet['svgthrow_stat_cha'] }}">

        </section>

        <section class="skills">
            <h3 class="sheetheader">Skills</h3>

            <label for="">Proficiency Bonus:</label>
            <input type="number" name="prof_bonus" value="{{ sheet['prof_bonus'] }}">

            <label for="">Acrobatics:</label>
            <input type="number" name="sk_acroba" value="{{ sheet['sk_acroba'] }}">

            <label for="">Animal Handling:</label>
            <input type="number" name="sk_animal" value="{{ sheet['sk_animal'] }}">

            <label for="">Arcana:</label>
            <input type="number" name="sk_arcana" value="{{ sheet['sk_arcana'] }}">

            <label for="">Athletics:</label>
            <input type="number" name="sk_athlet" value="{{ sheet['sk_athlet'] }}">

            <label for="">Deception:</label>
            <input type="number" name="sk_decept" value="{{ sheet['sk_decept'] }}">

            <label for="">History:</label>
            <input type="number" name="sk_histor" value="{{ sheet['sk_decept'] }}">

            <label for="">Insight:</label>
            <input type="number" name="sk_insigh" value="{{ sheet['sk_histor'] }}">

            <label for="">Intimidation:</label>
            <input type="number" name="sk_intimi" value="{{ sheet['sk_intimi'] }}">

            <label for="">Investigation:</label>
            <input type="number" name="sk_invest" value="{{ sheet['sk_invest'] }}">

            <label for="">Medicine:</label>
            <input type="number" name="sk_medici" value="{{ sheet['sk_medici'] }}">

            <label for="">Nature:</label>
            <input type="number" name="sk_nature" value="{{ sheet['sk_nature'] }}">

            <label for="">Perception:</label>
            <input type="number" name="sk_percep" value="{{ sheet['sk_percep'] }}">

            <label for="">Performance:</label>
            <input type="number" name="sk_perfor" value="{{ sheet['sk_perfor'] }}">

            <label for="">Persuasion:</label>
            <input type="number" name="sk_persua" value="{{ sheet['sk_persua'] }}">

            <label for="">Religion:</label>
            <input type="number" name="sk_religi" value="{{ sheet['sk_religi'] }}">

            <label for="">Sleight of Hand:</label>
            <input type="number" name="sk_sleigh" value="{{ sheet['sk_sleigh'] }}">

            <label for="">Stealth:</label>
            <input type="number" name="sk_stealt" value="{{ sheet['sk_stealt'] }}">

            <label for="">Survival:</label>
            <input type="number" name="sk_suviva" value="{{ sheet['sk_suviva'] }}">

            <label for="">Other Proficiencies and Languages:</label>
            <textarea name="otr_prof_lang">{{ sheet['otr_prof_lang'] }}</textarea>

        </section>

        <section class="vitalinfo">
            <h3 class="sheetheader">Vital Info</h3>

            <label for="">Armor Class:</label>
            <input type="number" name="armor" value="{{ sheet['armor'] }}">

            <label for="">Initiative:</label>
            <input type="number" name="initiative" value="{{ sheet['initiative'] }}">

            <label for="">Speed:</label>
            <input type="number" name="speed" value="{{ sheet['speed'] }}">

            <label for="">Current HP:</label>
            <input type="number" name="current_hp" value="{{ sheet['current_hp'] }}">

            <label for="">Temporary HP:</label>
            <input type="number" name="temp_hp" value="{{ sheet['temp_hp'] }}">

            <label for="">Hit Dice:</label>
            <input type="text" name="hit_dice" value="{{ sheet['hit_dice'] }}">

            <label for="">Death Save Successes:</label>
            <input type="number" name="dthsv_pass" value="{{ sheet['dthsv_pass'] }}">

            <label for="">Death Save Failures:</label>
            <input type="number" name="dthsv_fail" value="{{ sheet['dthsv_fail'] }}">

        </section>

        <section class="equipmentfluff">
            <h3 class="sheetheader">Equipment and Basic Info</h3>
            <label for="">Weapons and Spells:</label>
            <textarea name="attacks_spells">{{ sheet['attacks_spells'] }}</textarea>

            <label for="">Equipment:</label>
            <textarea name="equipment">{{ sheet['equipment'] }}</textarea>

            <label for="">Traits:</label>
            <textarea name="traits">{{ sheet['traits'] }}</textarea>

            <label for="">Ideals:</label>
            <textarea name="ideals">{{ sheet['ideals'] }}</textarea>

            <label for="">Bonds:</label>
            <textarea name="bonds">{{ sheet['bonds'] }}</textarea>

            <label for="">Flaws:</label>
            <textarea name="flaws">{{ sheet['flaws'] }}</textarea>

            <label for="">Features and Traits:</label>
            <textarea name="fluff">{{ sheet['fluff'] }}</textarea>
        </section>

        <section class="spellsheet">
            <h3 class="sheetheader">Spell Sheet</h3>

            <label for="">Spellcasting Class:</label>
            <input type="text" name="spellcasting_class" value="{{ sheet['spellcasting_class'] }}">

            <label for="">Spellcasting Ability:</label>
            <input type="text" name="spellcasting_ability" value="{{ sheet['spellcasting_ability'] }}">

            <label for="">Spell Save DC:</label>
            <input type="text" name="spell_save_dc" value="{{ sheet['spell_save_dc'] }}">

            <label for="">Spell Attack Bonus:</label>
            <input type="number" name="spell_atk_bonus" value="{{ sheet['spell_atk_bonus'] }}">

            <label for="">Cantrips:</label>
            <textarea name="cantrips">{{ sheet['cantrips'] }}</textarea>

            <label for="">First Level Spells:</label>
            <textarea name="first_level_spells">{{ sheet['first_level_spells'] }}</textarea>

            <label for="">Second Level Spells:</label>
            <textarea name="second_level_spells">{{ sheet['second_level_spells'] }}</textarea>

            <label for="">Third Level Spells:</label>
            <textarea name="third_level_spells">{{ sheet['third_level_spells'] }}</textarea>

            <label for="">Fourth Level Spells:</label>
            <textarea name="fourth_level_spells">{{ sheet['fourth_level_spells'] }}</textarea>

            <label for="">Fifth Level Spells:</label>
            <textarea name="fifth_level_spells">{{ sheet['fifth_level_spells'] }}</textarea>

            <label for="">Sixth Level Spells:</label>
            <textarea name="sixth_level_spells">{{ sheet['sixth_level_spells'] }}</textarea>

            <label for="">Seventh Level Spells:</label>
            <textarea name="seventh_level_spells">{{ sheet['seventh_level_spells'] }}</textarea>

            <label for="">Eighth Level Spells:</label>
            <textarea name="eighth_level_spells">{{ sheet['eighth_level_spells'] }}</textarea>

            <label for="">Ninth Level Spells:</label>
            <textarea name="ninth_level_spells">{{ sheet['ninth_level_spells'] }}</textarea>

        </section>

        <section class="biosheet">
            <h3 class="sheetheader">Character Bio</h3>

            <label for="">Age</label>
            <input type="text" name="age" value="{{ sheet['age'] }}">

            <label for="">Height:</label>
            <input type="text" name="height" value="{{ sheet['height'] }}">

            <label for="">Weight:</label>
            <input type="text" name="character_weight" value="{{ sheet['character_weight'] }}">

            <label for="">Eyes:</label>
            <input type="text" name="eyes" value="{{ sheet['eyes'] }}">

            <label for="">Skin:</label>
            <input type="text" name="skin" value="{{ sheet['skin'] }}">

            <label for="">Hair:</label>
            <input type="text" name="hair" value="{{ sheet['hair'] }}">

            <label for="">Appearance:</label>
            <textarea name="appearance">{{ sheet['appearance'] }}</textarea>

            <label for="">Allies and Organisations:</label>
            <textarea name="allies_organisations">{{ sheet['allies_organisations'] }}</textarea>

            <label for="">Character Backstory:</label>
            <textarea name="character_backstory">{{ sheet['character_backstory'] }}</textarea>

            <label for="">Additional Features and Traits:</label>
            <textarea name="additional_features_traits">{{ sheet['additional_features_traits'] }}</textarea>

            <label for="">Treasure:</label>
            <textarea name="treasure">{{ sheet['treasure'] }}</textarea>

        </section>


    </section>
    <button>Click Here to Finalise Edit!</button>

</form>
{% endblock %}