<!-- This should display small preview of each sheet and button to go to  edit page of each sheet -->
{% extends 'base.html' %}

{% block content %}
<a class="gallerylink" href="/home/new">Create a New Sheet</a>
<a class="gallerylink" href="/home">Home</a>
<section class="gallerysheets">
    {% for sheet in sheets %}
    <section class="gallerysheet">
        <header>
            <section class="gallerycontrols">
                <a class="gallerylink" href="/home/{{ sheet['id'] }}/edit">Edit</a>

                <form action="home/{{ sheet['id'] }}/delete" method="POST">
                    <button class="deletebutton">Delete</button>
                </form>
            </section>
            <h2 class="sheetpreview">{{ sheet['character_name'] }} - {{ sheet['class_and_level'] }}</h2>
            <img class="galleryimg" src="https://cdn.onlinewebfonts.com/svg/img_119089.png" alt="">
    </section>
    {% endfor %}
</section>
{% endblock %}