<!-- this is home page -->
{% extends 'base.html' %}

{% block content %}
<audio src="/home/fantasy.mp3" controls></audio>
<section class="indexcontainer">
    <h1 class="pagetitle">The DND App</h1>

    {% if current_user() %}
    <h3 class="welcomeheader">Welcome {{ current_user()['first_name'] }}</h3>

    <section class="indexcontrols">
        <form action="/sessions/delete" method="POST">
            <button>Log Out</button>
        </form>
        <nav class="pages">
            <a href="/home/new">Create a New Sheet</a>
            <a href="/home/SRD">Browse the SRD Content - coming soon -</a>
            <a href="/home/gallery">Browse Character Sheets</a>
        </nav>
    </section>


</section>
{% else %}
<section class="entrypage">
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log in</a>
</section>
{% endif %}
</section>
{% endblock %}