<!-- this is home page -->
{% extends 'base.html' %}

{% block content %}

<section class="indexcontainer">
    <h1 id="pagetitle" class="animate__animated animate__bounceInDown">The DND App</h1>

    {% if current_user() %}
    <h3 class="welcomeheader">Welcome {{ current_user()['first_name'] }}</h3>
    <!-- <source src="{{ url_for('static', filename='fantasy.mp3') }}" type="audio"> -->
    <audio src="{{ url_for('static', filename='../static/long.mp3') }}" controls autoplay></audio>


    <!-- <audio class="'budgetlotr" id="audio" controls>
        <source src="./audio/fantasy.mp3" />
    </audio>  Attempt Four -->

    <!-- <audio class="swords-audio" id="audio">
        <source src="./audio/sword.mp3" />
    </audio>  pablo code -->

    <!-- <audio src="{{ url_for('static', filename='../static/song2.ogg') }}" autoplay></audio> -->


    <section class="indexcontrols">
        <form action="/sessions/delete" method="POST">
            <button>Log Out</button>
        </form>
        <nav class="pages">
            <a href="/home/new">Create a New Sheet</a>
            <a href="/home/SRD">Browse the SRD Content - coming soon -</a>
            <a href="/home/gallery">Browse Character Sheets</a>
        </nav>
    </section>


</section>
{% else %}
<section class="entrypage">
    <a href="/users/new">Sign Up</a>
    <a href="/sessions/new">Log in</a>
</section>
{% endif %}
</section>
{% endblock %}