<!-- Sign Up Page -->
{% extends 'base.html' %}

{% block content %}
<h1 class="LISUheader">Sign Up</h1>
<form class="LISUform" action="/users" method="POST">
    <section class="LISUcontainer">
        <label class="LISUlabel" for="">First Name:</label>
        <input class="LISUinput" type="text" name="first_name">

        <label class="LISUlabel" for="">Last Name:</label>
        <input class="LISUinput" type="text" name="last_name">

        <label class="LISUlabel" for="">Email</label>
        <input class="LISUinput" type="text" name="email">

        <label class="LISUlabel" for="">Password:</label>
        <input class="LISUinput" type="password" name="password">
    </section>

    <button class="LISUbutton">Sign Up</button>

</form>
{% endblock %}